<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8/">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/static/images/static.images/app.css}"/>

</head>
<body>
<div class="container">

    <img class="stencil" src="/images/stencil.png" alt="Stencil">
    <div class="text-block">
        <h1>Shop4Me!</h1>
        <h2>Welcome Shopper Name</h2>
        <div class="content-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>

    </div>
</div>

</body>
</html>