/*css for smart phone stencil*/
.stencil{
    height: 952px;
    width: 672px;

}
/*css for content within stencil for user interaction and products display*/
div.content-block {
    background-color: lightblue;
    width: 477px;
    height: 499px;
    overflow: scroll;
}
/*css for overlay box*/
.container {
    position: relative;
    font-family: Arial;
    height: 952px;
    width: 672px;

}

/*css for text in overlay box*/
.text-block {
    position: absolute;
    top: 187px;
    width: 457px;
    height: 625px;

    background-color: white;
    color: black;
    padding-right: 20px;
    text-align: center;
    margin-left: 92px;
    z-index: 2;
}

/*css for login screen*/

form {border: 0px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    /*background-color: #f44336;*/
}

.imgcontainer {
    text-align: center;
    margin: 0px 0 12px 0;
}


.form-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#hp {
    float: right;
    margin: 0 0;
}
#logo  {
    margin: 0 0;


}

.logo-text{
    padding-left: 20px;
    float: left;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*end css for login screen*/